<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="DigiPli">
    <meta property="og:description" content="DigiPli | Compliance & AML Solutions for the Digital Age">
    <meta property="og:url" content="https://www.digipli.com">
  <meta property="og:image" content="https://digipli.com/images/Banner-image-01.png" />

      <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-125251922-8"></script>



    <link rel="icon" href="images/favicon.ico">


    <title>DigiPli</title>

    <% include /src/include/styles.ejs %>

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-125251922-8"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-125251922-8');
</script>


</head>

<body>

    <% include /src/include/header.ejs %>

        <main>
            <section class="dg-banner-main-block">
                <span class="dg-background-color">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="dg-banner-details-block" data-aos="fade-up" data-aos-duration="1500">
                                    <h1 class="dg-pages-main-title">Compliance & Anti-Money Laundering Solutions for the <span>Digital Age</span></h1>
                                    <!-- <button type="button" class="btn" href="#dg-footer-section" id="contactbtn">Contact us</button> -->
                                  <!-- <a href="contact-us.html">  <button type="button" class="btn"   href="contact-us.html" id="contactbtn">Contact us</button></a> -->
                                    <a href="#dg-footer-section">  <button type="button" class="btn"   href="contact-us.html" id="contactbtn">Request a Demo</button></a>

                                </div>
                            </div>
                        </div>
                    </div>
                </span>
            </section>
            <section class="dg-lesus-section">
                    <div class="container">
                        <div class="dg-lesus-assist-title" data-aos="fade-up" data-aos-duration="1500">
                            <h2 class="dg-subtitle"> <span>What we do ....</span></h2>
                        </div>
                        <div class="dg-process-block-main">
                            <div class="row">
                                <div class="col-12 col-sm-6 col-md-4" data-aos="fade-up" data-aos-duration="1500">
                                    <div class="dg-program-block">
                                        <div class="dg-program-img-block">
                                            <img src="images/AML-as-a-Service Resized.png" alt="">
                                        </div>
                                        <div class="">
                                            <p class="dg-program-title">AML-as-a-Service</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4" data-aos="fade-up" data-aos-duration="1500">
                                    <div class="dg-program-block">
                                        <div class="dg-program-img-block dg-process-img">
                                            <img src="images/New Automation Resized.png" alt="">
                                        </div>
                                        <div class="">
                                            <p class="dg-program-title">AML Systems & Data</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4" data-aos="fade-up" data-aos-duration="1500">
                                    <div class="dg-program-block">
                                        <div class="dg-program-img-block dg-cost-reductions">
                                            <img src="images/Efficiency Resized.png" alt="">
                                        </div>
                                        <div class="">
                                            <p class="dg-program-title">AML Process Reengineering</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </section>
            <section class="dg-the-worldis-changing-section">
                <div class="dg-rightside-images"></div>
                <div class="container">
                    <div class="dg-world-details-block" data-aos="fade-up" data-aos-duration="1500">
                        <h2 class="dg-subtitle">The <span style="color: #D98F47;">world</span> is changing.</h2>
                        <!-- <h3 class="dg-small-title">Is your Anti-Money Laundering program up to the <span style="color: #D98F47;">challenge</span>  </h3> -->
                          <h3 style="color:white;">Is your Anti-Money Laundering program up to the <span style="color: #D98F47;">challenge?</span>  </h3>
                        <!-- <p class="dg-paragraph-text">Private Sector innovation, including new ways of using existing tools or adopting new technologies, can help banks identify and report money laundering, terrorist financing, and other illicit financial activity by enhancing the effectiveness and efficiency of banks’ BSA / AML compliance programs.</p>
                        <h3 class="dg-small-title">US Banking Regulators’ Joint Statement on Innovative Efforts to Combat Money Laundering and Terrorist Financing, December 3, 2019</h3>
                          <a style="color:white;" href="" data-toggle="modal" data-target="#disclosuresModalCenter2"><u>References</u></a> -->
                    </div>

                    <div class="dg-disclosures-modal">
                        <div class="modal fade" id="disclosuresModalCenter2" tabindex="-1" role="dialog" aria-labelledby="disclosuresModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="disclosuresModalCenterTitle">References</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                    <p>US Banking Regulators’ Joint Statement on Innovative Efforts to Combat Money Laundering and Terrorist Financing, December 3, 2019</p>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>

                    <div class="dg-amount-details-block" data-aos="fade-up" data-aos-duration="1500">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="dg-amount-box">
                                    <h4>Amount spent on Compliance & AML per year</h4>
                                    <span>$270 billion</span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="dg-amount-box">
                                    <h4>Amount of regulatory fines since financial crises </h4>
                                    <span>$345 billion</span>
                                    <a style="font-size: 16px;" href="" data-toggle="modal" data-target="#disclosuresModalCenter">References</a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="dg-amount-box">
                                    <h4>Average number of regulatory changes per day</h4>
                                    <span>200</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="dg-disclosures-modal">
                <div class="modal fade" id="disclosuresModalCenter" tabindex="-1" role="dialog" aria-labelledby="disclosuresModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="disclosuresModalCenterTitle">References</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            <p>Compliance and AML spend data courtesy of International Banker, The Cost of Compliance (November, 2018). Amount of regulatory fines and number of regulatory changes courtesy of the Boston Consulting Group, Global Risk 2018: Future-Proofing the Bank Risk Agenda (February, 2018).</p>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </main>

        <% include /src/include/footer.ejs %>

            <% include /src/include/scripts.ejs %>
            <!-- <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
            <script>
              AOS.init();
            </script> -->


</body>

</html>
