<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="DigiPli">
    <meta property="og:description" content="DigiPli | Compliance & AML Solutions for the Digital Age">
    <meta property="og:url" content="https://www.digipli.com">
      <meta property="og:image" content="https://digipli.com/images/Banner-image-01.png" />

    <link rel="icon" href="images/favicon.ico">



    <title>DigiPli</title>

    <% include /src/include/styles.ejs %>

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-125251922-8"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-125251922-8');
</script>

</head>

<body>

    <% include /src/include/header.ejs %>


        <main>
            <section class="dg-all-pages-banner">
                <div class="container-fluid">
                    <div class="dg-all-pages-banner-title">
                        <h1 class="dg-pages-main-title">Insights</h1>
                    </div>
                </div>
                <div class="dg-text-block"></div>
                <div class="dg-background-right-side"></div>
            </section>
            <section class="dg-insights-details" data-aos="fade-up" data-aos-duration="1500">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="dg-browse">
                                <h4 class="dg-inner-pages-small-title">Browse our <span style="color: #1800B9;">content</span> to keep up-to-date on trends in Compliance and AML innovation</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="blogs" class="dg-blog-details-section">
                <div class="container">
                    <div class="dg-blog-title" data-aos="fade-up" data-aos-duration="1500">
                        <h2 class="dg-subtitle">Blogs</h2>
                    </div>
                    <div class="dg-blogs-details-block">


                      <div class="dg-blogs-details-list dr-border-none" data-aos="fade-up" data-aos-duration="1500">
                          <div class="row">
                            <div class="col-md-2">
                                <div class="dg-blogs-images">
                                    <img src="images/SEC-Logo.png" alt="">
                                </div>
                            </div>
                              <div class="col-md-9">
                                  <div class="dg-details">
                                      <!-- <h2>MAKING NEGATIVE NEWS A POSITIVE FOR FINTECH COMPANIES</h2>
                                      <span>By Joel Cope | December 18, 2018</span> -->
                                      <p class="dg-paragraph-text">The SEC’s Office of Compliance Inspections and Examinations (OCIE) just released their 2020 examination priorities.  Of the seven stated focus areas, three are key to FinTechs – cybersecurity, anti-money laundering and financial innovation. OCIE also indicated that they’ll target newly registered advisors, and RIAs who haven’t previously been examined.  </p>
                                      <a target="blank" href="https://www.sec.gov/news/press-release/2020-4" class="dg-read-more-btn">AVAILABLE HERE</a>
                                  </div>
                              </div>

                          </div>
                      </div>



                      <div class="dg-blogs-details-list dr-border-none" data-aos="fade-up" data-aos-duration="1500">
                          <div class="row">
                            <div class="col-md-2">
                                <div class="dg-blogs-images">
                                    <img src="images/OCC Logo.png" alt="">
                                </div>
                            </div>
                              <div class="col-md-9">
                                  <div class="dg-details">
                                      <!-- <h2>MAKING NEGATIVE NEWS A POSITIVE FOR FINTECH COMPANIES</h2>
                                      <span>By Joel Cope | December 18, 2018</span> -->
                                      <p class="dg-paragraph-text">The OCC recently released their 2020 Bank Supervision Operating Plan, which unsurprisingly features BSA/AML compliance in the number two spot. This year’s plan seems to be weighted even more heavily towards systems and technology as the OCC will, among other areas, focus on “ … determining whether BSA/AML risk management systems match the complexity of business models and products offered; evaluating technology solutions to perform or enhance BSA/AML oversight functions; and assessing the adequacy of suspicious activity monitoring and reporting systems and processes.” </p>
                                      <a target="blank" href="https://www.occ.gov/news-issuances/news-releases/2019/2019-111a.pdf" class="dg-read-more-btn">AVAILABLE HERE</a>
                                  </div>
                              </div>

                          </div>
                      </div>

                      <div class="dg-blogs-details-list" data-aos="fade-up" data-aos-duration="1500">
                          <div class="row">

                            <div class="col-md-2">
                                <div class="dg-blogs-images">
                                    <img src="images/OCC Logo.png" alt="">
                                </div>
                            </div>
                              <div class="col-md-9">
                                  <div class="dg-details">
                                      <!-- <h2>JOIN RDC IN SUPPORTING NATIONAL HUMAN TRAFFICKING AWARENESS DAY</h2>
                                      <span>By Michael Kerman | January 10, 2019</span> -->
                                      <p class="dg-paragraph-text">The ‘big banks’ invested billions of dollars in systems and technology to enhance their anti-money laundering programs. Is that driving criminals to shift their illicit activities to smaller retail and community banks? And are these smaller institutions at a regulatory disadvantage if they’re unable to afford the same technological solutions used by the big banks? If you haven’t seen it, here’s an excellent <a target="blank" href="https://www.moneylaundering.com/news/exclusive-new-jersey-bank-handled-20-million-for-firm-tied-to-venezuelan-laundering-scheme/">article</a> from ACAMS moneylaundering.com showcasing the “critically deficient” Bank Secrecy Act program of a community bank based in Newark NJ, along with the OCC’s related Cease & Desist Order.
</p>
                                      <a target="blank" href="images/ea2018-011.pdf" class="dg-read-more-btn">Order Available Here</a>
                                  </div>
                              </div>

                          </div>
                      </div>

                        <div class="dg-blogs-details-list" data-aos="fade-up" data-aos-duration="1500">
                            <div class="row">

                              <div class="col-md-2">
                                  <div class="dg-blogs-images">
                                      <img src="images/fatf-01.png" alt="">
                                  </div>
                              </div>
                                <div class="col-md-9">
                                    <div class="dg-details">
                                        <!-- <h2>JOIN RDC IN SUPPORTING NATIONAL HUMAN TRAFFICKING AWARENESS DAY</h2>
                                        <span>By Michael Kerman | January 10, 2019</span> -->
                                        <p class="dg-paragraph-text">FATF published new Guidance for a Risk-Based Approach to Virtual Assets and Virtual Asset Service Providers on June 29, 2019, which updates the virtual currency guidance that organization published in 2015.
</p>
                                        <a target="blank" href="http://www.fatf-gafi.org/media/fatf/documents/recommendations/RBA-VA-VASPs.pdf" class="dg-read-more-btn">AVAILABLE HERE</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="dg-blogs-details-list" data-aos="fade-up" data-aos-duration="1500">
                            <div class="row">
                              <div class="col-md-2">
                                  <div class="dg-blogs-images">
                                      <img src="images/senate-icon.svg" alt="">
                                  </div>
                              </div>
                                <div class="col-md-9">
                                    <div class="dg-details">
                                        <!-- <h2>MY COMPLIANCE WISHES FOR 2019</h2>
                                        <span>By Michael Kerman | December 27, 2018</span> -->
                                        <p class="dg-paragraph-text">A Senate Committee Hearing on June 19, 2019 discussed plugging the "gap" in US AML requirements, by requiring formal disclosure of ultimate beneficial owners of US shell companies and LLCs. However, sentiment seemed to be leaning towards maintaining a private list of UBOs that would only be available to government agencies. This differs from the approach taken in other countries, where UBO lists are available to the public or participants in the financial system. We'll be following progress of the legislation closely, as a comprehensive, publicly available list of UBOs could very much accelerate performance of a financial institution's AML processes.
</p>
                                        <a target="blank" href="https://www.judiciary.senate.gov/meetings/combating-kleptocracy-beneficial-ownership-money-laundering-and-other-reforms" class="dg-read-more-btn">AVAILABLE HERE</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="dg-blogs-details-list dr-border-none" data-aos="fade-up" data-aos-duration="1500">
                            <div class="row">
                              <div class="col-md-2">
                                  <div class="dg-blogs-images">
                                      <img src="images/U.C-03.png" alt="">
                                  </div>
                              </div>
                                <div class="col-md-9">
                                    <div class="dg-details">
                                        <!-- <h2>MAKING NEGATIVE NEWS A POSITIVE FOR FINTECH COMPANIES</h2>
                                        <span>By Joel Cope | December 18, 2018</span> -->
                                        <p class="dg-paragraph-text">In a speech given on May 9, 2019 SEC Commissioner Hester Peirce notes that the lack of guidance from US regulators regarding the complex legal questions created by the rise of digital assets, risks “push[ing] this innovation and any attendant economic growth into other jurisdictions that have done their work and provided clear guidelines for the market participants to follow.”
</p>
                                        <a target="blank" href="https://www.sec.gov/news/speech/peirce-how-we-howey-050919" class="dg-read-more-btn">AVAILABLE HERE</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="dg-blogs-details-list dr-border-none" data-aos="fade-up" data-aos-duration="1500">
                            <div class="row">
                              <div class="col-md-2">
                                  <div class="dg-blogs-images">
                                      <img src="images/finra.png" alt="">
                                  </div>
                              </div>
                                <div class="col-md-9">
                                    <div class="dg-details">
                                        <!-- <h2>MAKING NEGATIVE NEWS A POSITIVE FOR FINTECH COMPANIES</h2>
                                        <span>By Joel Cope | December 18, 2018</span> -->
                                        <p class="dg-paragraph-text">Given the growing focus on AML in the capital markets, <a href="https://www.finra.org/sites/default/files/notice_doc_file_ref/Regulatory-Notice-19-18.pdf">FINRA issued Regulatory Notice 19-18 </a> on May 6, 2019, which provides guidance to broker-dealers regarding suspicious activity monitoring and reporting obligations. Similar guidance was subsequently issued by the UK FCA in June 2019.
</p>
                                        <a target="blank" href="https://www.fca.org.uk/publication/thematic-reviews/tr19-004.pdf" class="dg-read-more-btn">FCA GUIDANCE AVILABLE HERE</a>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="dg-blogs-details-list dr-border-none" data-aos="fade-up" data-aos-duration="1500">
                            <div class="row">
                              <div class="col-md-2">
                                  <div class="dg-blogs-images">
                                      <img src="images/ofac.png" alt="">
                                  </div>
                              </div>
                                <div class="col-md-9">
                                    <div class="dg-details">
                                        <!-- <h2>MAKING NEGATIVE NEWS A POSITIVE FOR FINTECH COMPANIES</h2>
                                        <span>By Joel Cope | December 18, 2018</span> -->
                                        <p class="dg-paragraph-text">On May 2, 2019, OFAC issued a Framework for Compliance Commitments to provide organizations with its views of the five essential components that comprise a risk-based Sanctions Compliance Program (SCP). OFAC also provided a summary of what it believes were the ‘root causes’ breakdowns or deficiencies in various organizations’ SCPs that resulted in enforcement action, some of which involved insufficient or outdated technology systems. Does your SCP meet these standards?


</p>
                                        <a target="blank" href="https://www.treasury.gov/resource-center/sanctions/Documents/framework_ofac_cc.pdf" class="dg-read-more-btn">AVAILABLE HERE</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="dg-blogs-details-list dr-border-none" data-aos="fade-up" data-aos-duration="1500">
                            <div class="row">
                              <div class="col-md-2">
                                  <div class="dg-blogs-images">
                                      <img src="images/doj-icon.png" alt="">
                                  </div>
                              </div>
                                <div class="col-md-9">
                                    <div class="dg-details">
                                        <!-- <h2>MAKING NEGATIVE NEWS A POSITIVE FOR FINTECH COMPANIES</h2>
                                        <span>By Joel Cope | December 18, 2018</span> -->
                                        <p class="dg-paragraph-text">The Department of Justice issued on April 30, 2019 a document entitled “The Evaluation of Corporate Compliance Programs.” This document is intended to assist prosecutors in determining whether a corporation’s compliance program was effective at the time of an offense, and will influence a decision whether to bring charges against the corporation. If you’d like to evaluate your compliance and AML program in light of the DOJ’s guidance
</p>
                                        <a target="blank" href="https://www.justice.gov/criminal-fraud/page/file/937501/download" class="dg-read-more-btn">Available here</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="dg-blogs-details-list dr-border-none" data-aos="fade-up" data-aos-duration="1500">
                            <div class="row">
                              <div class="col-md-2">
                                  <div class="dg-blogs-images">
                                      <img src="images/fed-icon.png" alt="">
                                  </div>
                              </div>
                                <div class="col-md-9">
                                    <div class="dg-details">
                                        <!-- <h2>MAKING NEGATIVE NEWS A POSITIVE FOR FINTECH COMPANIES</h2>
                                        <span>By Joel Cope | December 18, 2018</span> -->
                                        <p class="dg-paragraph-text">In a joint statement on December 3, 2018, the Fed, FDIC, FinCEN, NCUA and OCC welcomed banks experimenting with artificial intelligence and digital identity technologies to meet their BSA/AML obligations. The regulators stated that “these innovations and technologies can strengthen BSA/AML compliance approaches, as well as enhance transaction monitoring systems” and that “these types of innovative approaches can maximize utilization of banks’ BSA/AML compliance resources.  </p>
                                        <a target="blank" href="https://www.fincen.gov/sites/default/files/2018-12/Joint%20Statement%20on%20Innovation%20Statement%20(Final%2011-30-18)_508.pdf" class="dg-read-more-btn">AVAILABLE HERE</a>
                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="dg-blogs-details-list dr-border-none" data-aos="fade-up" data-aos-duration="1500">
                            <div class="row">
                              <div class="col-md-2">
                                  <div class="dg-blogs-images">
                                      <img src="images/finra.png" alt="">
                                  </div>
                              </div>
                                <div class="col-md-9">
                                    <div class="dg-details">
                                        <!-- <h2>MAKING NEGATIVE NEWS A POSITIVE FOR FINTECH COMPANIES</h2>
                                        <span>By Joel Cope | December 18, 2018</span> -->
                                        <p class="dg-paragraph-text">FINRA in their September 2018 report entitled Technology Based Innovations for Regulatory Compliance (“RegTech”)  in the Securities Industry, observed how RegTech tools may facilitate the ability of firms to strengthen their compliance programs, which in turn has the potential to create safer markets and benefit investors. </p>
                                        <a target="blank" href="http://www.finra.org/sites/default/files/2018_RegTech_Report.pdf" class="dg-read-more-btn">AVAILABLE HERE</a>
                                    </div>
                                </div>

                            </div>
                        </div>




                        <div id="whitepapers" class="dg-blogs-details-list dr-border-none" data-aos="fade-up" data-aos-duration="1500">
                            <h3 class="dg-subtitle">White Papers</h3>
                            <div class="row">
                              <div class="col-md-2">
                                  <div class="dg-blogs-images">
                                      <img src="images/Logo Website Color.png" alt="">
                                  </div>
                              </div>


                                <div class="col-md-9">
                                    <div class="dg-details">
                                        <h3 style="margin-left:27px; font-weight:Bold;" class="nohover">Understanding Digipli’s AML Managed Utility Solution</h3>
                                        <!-- <span>What We Do | Why We Do It | Why It Benefits You</span> -->
                                        <p class="dg-paragraph-text">DigiPli published a White Paper that sets forth its perspective on the AML-related regulatory and operational challenges facing financial institutions (FIs), and how FIs’ traditional approaches to addressing these challenges is unsuited to today’s complex, digital environment. The White Paper continues with a discussion of DigiPli’s underlying platform and technology, the way its AML specialists will augment the results delivered by its technology solutions, and how taken together DigiPli can transform an FI’s AML program.</p>

                                          <a class="dg-read-more-btn" data-toggle="modal" data-target="#exampleModalCenter">AVAILABLE HERE</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- <div class="dg-blogs-details-list dr-border-none" data-aos="fade-up" data-aos-duration="1500">
                            <h3 class="dg-subtitle">Case Studies</h3>
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="dg-details">
                                        <h2>MAKING NEGATIVE NEWS A POSITIVE FOR FINTECH COMPANIES</h2>
                                        <span>By Joel Cope | December 18, 2018</span>
                                        <p class="dg-paragraph-text">Adverse media, or negative news, is an important component in the anti-money laundering (AML) programmes of many banks and large financial institutions, despite not being a regulatory requirement in the US, UK or EU. But can the same be said of fintech companies? And how successful have compliance teams found the tool in the fight against financial crime?</p>
                                        <a href="" class="dg-read-more-btn mb-0" data-toggle="modal" data-target="#exampleModalCenter">READ MORE</a>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="dg-blogs-images">
                                        <img src="images/finra.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </section>
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Complete Form to download</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="javascript:void(0)" method="POST" class="dg-form" id="whitePapersForm">
                                <div class="form-group">
                                    <input type="text" class="form-control"  placeholder="Name" name="name">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control"  placeholder="Email" name="email">
                                </div>
                                <div class="form-group">
                                  <input type="text" class="form-control"  placeholder="Company" name="company">
                                </div>
                                <div class="form-group">
                                  <input type="text" class="form-control"  placeholder="Country" name="country">
                                </div>
                                <div class="form-group text-center mb-0">
                                    <button type="submit" id='whitePapersFormSubmit' class="btn">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>

    <% include /src/include/footer.ejs %>

        <% include /src/include/scripts.ejs %>
        <script>
            $('button.hello').click(function (e) {
                swal("Hello world!");
            });

            $('button.delete-account').click(function (e) {
                swal("Good job!", "You clicked the button!", "success");
            });

            $('button.promises').click(function (e) {
                swal("Click on either the button or outside the modal.")
                    .then((value) => {
                        swal(`The returned value is: ${value}`);
                    });
            });

            $('button.sure').click(function (e) {
                swal({
                    title: "Are you sure?",
                    text: "Once deleted, you will not be able to recover this imaginary file!",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                    .then((willDelete) => {
                        if (willDelete) {
                            swal("Poof! Your imaginary file has been deleted!", {
                                icon: "success",
                            });
                        } else {
                            swal("Your imaginary file is safe!");
                        }
                    });
            });
            </script>

            <script>
              validateForm('whitePapersForm','exampleModalCenter','whitePapersFormSubmit');
            </script>
    </body>

</html>
