<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="DigiPli">
    <meta property="og:description" content="DigiPli | Compliance & AML Solutions for the Digital Age">
    <meta property="og:url" content="https://www.digipli.com">
      <meta property="og:image" content="https://digipli.com/images/Banner-image-01.png" />

    <link rel="icon" href="images/favicon.ico">


    <title>DigiPli</title>

    <% include /src/include/styles.ejs %>

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-125251922-8"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-125251922-8');
</script>

</head>

<body>

    <% include /src/include/header.ejs %>


        <main>
            <section class="dg-all-pages-banner">
                <div class="container-fluid">
                    <div class="dg-all-pages-banner-title">
                        <h1 class="dg-pages-main-title">Why DigiPli</h1>
                    </div>
                </div>
                <div class="dg-text-block"></div>
                <div class="dg-background-right-side"></div>
            </section>
            <section class="dg-solutions-details-block">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="dg-solutions-details" data-aos="fade-up" data-aos-duration="1500">
                                <h4 class="dg-inner-pages-small-title">Why We’re <span style="color: #1800b9">Different</span></h4>
                                <p class="dg-paragraph-text">DigiPli was founded by former Compliance and AML professionals who understand the issues and challenges facing financial institutions. With DigiPli, you’ll get:</p>
                            </div>
                        </div>
                        <!-- <div class="offset-1 col-11">
                            <div class="dg-solutions-details-list" data-aos="fade-up" data-aos-duration="1500">
                                <h5 class="dg-paragraph-text">- Advice and ongoing support from Compliances and AML specialists with decades of industry experience.</h5>
                                <h5 class="dg-paragraph-text">- Access to our relationships with RPA ‘bot installers and AI Overlay providers, whose technologies can help optimize your processes, systems and controls.</h5>
                                <h5 class="dg-paragraph-text">- Insights and assistance in selecting and deploying the Compliance and AML SaaS applications, data providers and related solutions that deliver the best results for the best value.</h5>
                            </div>
                        </div> -->

                        <div class="container" style="margin-bottom:10%;">
                            <div class="row">
                                <div class="col-md-4" data-aos="fade-up" data-aos-duration="1500">
                                    <div class="dg-who-we-can-help-details-block">
                                        <h4 style="    text-align: left; color: #1800b9;" >Advice</h4>
                                        <!-- <p>Our Solutions are geared towards helping smaller to mid-size financial institutions take advantage of new technologies and approaches to solve traditional Compliance and AML challenges.</p> -->

                                    <p style="line-height: 30px;
margin-top: 15px;
font-size: 20px;">  Advice and ongoing support from Compliance and AML specialists with decades of industry experience.</p>
                                    </div>
                                </div>
                                <div class="col-md-4" data-aos="fade-up" data-aos-duration="1500">

                                    <div class="dg-who-we-can-help-details-block">
                                        <h4 style="    text-align: left;
color: #1800b9;">Access</h4>
                                       <p style="line-height: 30px;
   margin-top: 15px;
   font-size: 20px;">  Access to our relationships with system vendors and data providers </p>
                                    </div>
                                </div>
                                <div class="col-md-4" data-aos="fade-up" data-aos-duration="1500">

                                    <div class="dg-who-we-can-help-details-block">
                                        <h4 style="    text-align: left; color: #1800b9;">Insights</h4>
                                        <p style="line-height: 30px;
    margin-top: 15px;
    font-size: 20px;">Insights as to which AML system and data providers deliver the best results for the best value</p>
                                    </div>
                                </div>



                            </div>
                        </div>

                        <div id="customers" class="col-md-12">
                            <div style="margin-top: -45px;" class="dg-solutions-details dg-who-we-can-help-sections" data-aos="fade-up" data-aos-duration="1500">
                                <h4 class="dg-inner-pages-small-title">Who We Can <span style="color: #1800b9;">Help</span></h4>
                                <p class="dg-paragraph-text">Our Solutions are geared towards helping <span style="color: #1800b9;">smaller to mid-size financial institutions </span> including:</p>
                            </div>
                        </div>
                        <!-- <div class="offset-1 col-11">
                            <div class="dg-solutions-details-list" data-aos="fade-up" data-aos-duration="1500">
                                <h5 class="dg-paragraph-text">Brokerage & Trading Firms</h5>
                                <h5 class="dg-paragraph-text">Commercial & Savings Banks</h5>
                                <h5 class="dg-paragraph-text">Money Service Businesses</h5>
                                <h5 class="dg-paragraph-text">FinTechs</h5>
                                <h5 class="dg-paragraph-text">Investment Banks</h5>
                                <h5 class="dg-paragraph-text">Investment Funds & Advisors</h5>
                            </div>
                        </div> -->
                    </div>
                </div>
            </section>
            <section class="dg-who-we-can-help-block">
                <div class="container">
                    <div class="row">

                        <div class="col-12 col-sm-6 col-md-4" data-aos="fade-up" data-aos-duration="1500">
                            <div class="dg-who-we-can-help-img-block">
                                <img src="images/Brokerage-icon.png" alt="">
                            </div>
                            <div class="dg-who-we-can-help-details-block">
                                <h4>Brokerage & Trading Firms</h4>
                                <!-- <p>Our Solutions are geared towards helping smaller to mid-size financial institutions take advantage of new technologies and approaches to solve traditional Compliance and AML challenges.</p> -->
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4" data-aos="fade-up" data-aos-duration="1500">
                            <div class="dg-who-we-can-help-img-block">
                                <img src="images/commerandsavings-icon.png" alt="">
                            </div>
                            <div class="dg-who-we-can-help-details-block">
                                <h4>Commercial & Savings Banks</h4>
                                <!-- <p>Our Solutions are geared towards helping smaller to mid-size financial institutions take advantage of new technologies and approaches to solve traditional Compliance and AML challenges.</p> -->
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4" data-aos="fade-up" data-aos-duration="1500">
                            <div class="dg-who-we-can-help-img-block">
                                <img src="images/FinTech-icon.png" alt="">
                            </div>
                            <div class="dg-who-we-can-help-details-block">
                                <h4>FinTechs</h4>
                                <!-- <p>Our Solutions are geared towards helping smaller to mid-size financial institutions take advantage of new technologies and approaches to solve traditional Compliance and AML challenges.</p> -->
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4" data-aos="fade-up" data-aos-duration="1500">
                            <div class="dg-who-we-can-help-img-block">
                                <img src="images/MSB-icon.png" alt="">
                            </div>
                            <div class="dg-who-we-can-help-details-block">
                                <h4>Money Service Businesses</h4>
                                <!-- <p>Our Solutions are geared towards helping smaller to mid-size financial institutions take advantage of new technologies and approaches to solve traditional Compliance and AML challenges.</p> -->
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4" data-aos="fade-up" data-aos-duration="1500">
                            <div class="dg-who-we-can-help-img-block">
                                <img src="images/IB-icon.png" alt="">
                            </div>
                            <div class="dg-who-we-can-help-details-block">
                                <h4>Investment Banks</h4>
                                <!-- <p>Our Solutions are geared towards helping smaller to mid-size financial institutions take advantage of new technologies and approaches to solve traditional Compliance and AML challenges.</p> -->
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4" data-aos="fade-up" data-aos-duration="1500">
                            <div class="dg-who-we-can-help-img-block">
                                <img src="images/investment-funds.png" alt="">
                            </div>
                            <div class="dg-who-we-can-help-details-block">
                                <h4>Investment Funds & Advisors</h4>
                                <!-- <p>Our Solutions are geared towards helping smaller to mid-size financial institutions take advantage of new technologies and approaches to solve traditional Compliance and AML challenges.</p> -->
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

    <% include /src/include/footer.ejs %>

        <% include /src/include/scripts.ejs %>
        <script>
            $('button.hello').click(function (e) {
                swal("Hello world!");
            });

            $('button.delete-account').click(function (e) {
                swal("Good job!", "You clicked the button!", "success");
            });

            $('button.promises').click(function (e) {
                swal("Click on either the button or outside the modal.")
                    .then((value) => {
                        swal(`The returned value is: ${value}`);
                    });
            });

            $('button.sure').click(function (e) {
                swal({
                    title: "Are you sure?",
                    text: "Once deleted, you will not be able to recover this imaginary file!",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                    .then((willDelete) => {
                        if (willDelete) {
                            swal("Poof! Your imaginary file has been deleted!", {
                                icon: "success",
                            });
                        } else {
                            swal("Your imaginary file is safe!");
                        }
                    });
            });

        </script>
    </body>

</html>
