
    .dg-banner-main-block{
        background: url(../images/Banner-image-01.png)no-repeat;
        background-size: cover;
        height: 665px;
        width: 100%;
        background-position: center center;
        position: relative;
        @include media-breakpoint-down(md){
            height: 500px;
        }
        @include media-breakpoint-down(sm){
            height: 380px;
        }
        &::after{
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            bottom: 0;
            background-image: linear-gradient(270deg, #070236 0%, rgba(5,2,42,0.77) 49%, rgba(0,0,0,0.00) 100%);
            z-index: 1;
            height: 100%;
            max-width: 772px;
            width: 100%;
            transform: scaleX(-1);
            @include media-breakpoint-down(md){
                max-width: 500px;
            }
            @include media-breakpoint-down(sm){
                max-width: 300px;
            }
        }
        &::before{
            position: absolute;
            content: '';
            right: 0;
            top: 0;
            bottom: 0;
            background-image: linear-gradient(270deg, #070236 0%, rgba(5,2,42,0.77) 49%, rgba(0,0,0,0.00) 100%);
            z-index: 1;
            height: 100%;
            max-width: 533px;
            width: 100%;
            @include media-breakpoint-down(md){
                max-width: 263px;
            }
            @include media-breakpoint-down(sm){
                max-width: 162px;
            }
        }
        .dg-background-color{
            background: rgba(7,2,54,0.23);
            width: 100%;
            height: 100%;
            display: block;
            display: flex;
            align-items: center;
            .dg-banner-details-block{
                margin-left: 25px;
                position: relative;
                z-index: 2;
                .dg-pages-main-title{
                    color: $white;
                    max-width: 450px;
                    margin-bottom: 49px;
                    @include media-breakpoint-down(sm){
                        margin-bottom: 35px;
                    }
                    span{
                        color: $yellow;
                    }
                }
                .btn{
                    background: $yellow;
                }
            }
        }
    }
    .dg-lesus-section{
        padding: 84px 0 60px;
        @include media-breakpoint-down(md){
            padding: 64px 0 50px;
        }
        @include media-breakpoint-down(sm){
            padding: 44px 0 20px;
        }
        .dg-lesus-assist-title{
            text-align: center;
            margin-bottom: 74px;
            @include media-breakpoint-down(md){
                margin-bottom: 54px;
            }
        }
        .dg-process-block-main{
            .dg-program-block{
                text-align: center;
                margin-bottom: 30px;
                .dg-program-img-block{
                    margin-bottom: 45px;
                    @include media-breakpoint-down(sm){
                        margin-bottom: 25px;
                    }
                    img{
                        // width: 130px;
                        height: 140px;
                        @include media-breakpoint-down(lg){
                            // width: 100px;
                            height: 100px;
                        }
                        @include media-breakpoint-down(sm){
                            // width: 90px;
                            height: 80px;
                        }
                    }
                    // &.dg-process-img{
                    //     img{
                    //         width: 180px;
                    //         @include media-breakpoint-down(md){
                    //             width: 140px;
                    //         }
                    //         @include media-breakpoint-down(sm){
                    //             width: 110px;
                    //         }
                    //     }
                    // }
                    // &.dg-cost-reductions{
                    //     img{
                    //         width: 132px;
                    //         @include media-breakpoint-down(md){
                    //             width: 102px;
                    //         }
                    //         @include media-breakpoint-down(sm){
                    //             width: 92px;
                    //         }
                    //     }
                    // }
                }
                .dg-program-title{
                    max-width: 250px;
                    margin: auto;
                    line-height: 30px;
                    font-size: 20px;
                    @include media-breakpoint-down(sm){
                        max-width: 190px;
                        line-height: 20px;
                        font-size: 15px;
                    }
                }
            }
        }
    }
    .dg-the-worldis-changing-section{
        background: url(../images/world-img.png)no-repeat;
        background-size: cover;
        padding: 90px 0;
        position: relative;
        width: 100%;
        @include media-breakpoint-down(md){
            padding: 90px 0 50px;
        }
        @include media-breakpoint-down(sm){
            padding: 60px 0 50px;
        }
        &::after{
            position: absolute;
            content: '';
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            // background: rgba(34,15,164,0.70);
  background: #070236;
        }
        &::before{
            display: none;
            position: absolute;
            content: '';
            background: url(../images/shape-small.svg)no-repeat;
            background-size: cover;
            width: 110px;
            height: 214px;
            left: 15px;
            z-index: 1;
            top: 20px;
            -webkit-animation-timing-function: linear;
            /* Safari 4.0 - 8.0 */
            animation: dg-rightside-images 5s infinite;
            animation-timing-function: linear;
            @include media-breakpoint-down(sm){
                width: 72px;
                height: 148px;
            }
        }
        .dg-world-details-block{
            text-align: center;
            position: relative;
            z-index: 1;
            .dg-subtitle{
                color: $white;
                margin-bottom: 70px;
                @include media-breakpoint-down(md){
                    margin-bottom: 50px;
                }
                @include media-breakpoint-down(sm){
                    margin-bottom: 40px;
                }
            }
            .dg-small-title{
                color: $white;
                max-width: 1080px;
                margin: auto;
                font-style: italic;
                font-weight: 200;

            }
            .dg-paragraph-text{
                color: $white;
                max-width: 570px;
                margin: auto;
                padding: 27px 0;
                font-style: italic;
                font-weight: 200;
            }
        }
        .dg-amount-details-block{
            position: relative;
            z-index: 1;
            padding-top: 79px;
            @include media-breakpoint-down(md){
                padding-top: 59px;
            }
            @include media-breakpoint-down(sm){
                padding-top: 48px;
            }
            .col-md-4{
                display: flex;
            }
            .dg-amount-box{
                background: $white;
                padding: 45px 35px 28px;
                text-align: center;
                box-shadow: 0 0 40px 35px rgba(24,0,185,0.29);
                margin-bottom: 20px;
                width: 100%;
                @include media-breakpoint-down(lg){
                    padding: 45px 20px 28px;
                }
                @include media-breakpoint-down(md){
                    padding: 20px;
                }
                @include media-breakpoint-down(sm){
                    padding: 35px;
                }
                h4{
                    color: $full-gray;
                    font-size: 27px;
                    font-style: italic;
                    line-height: 34px;
                    font-weight: 200;
                    @include media-breakpoint-down(lg){
                        font-size: 22px;
                    }
                    @include media-breakpoint-down(md){
                        font-size: 20px;
                    }
                    @include media-breakpoint-down(sm){
                        font-size: 18px;
                        line-height: 28px;
                    }
                }
                span{
                    color: $primary;
                    font-size: 50px;
                    font-weight: 400;
                    margin: 25px 0 15px;
                    display: block;
                    @include media-breakpoint-down(lg){
                        font-size: 38px;
                    }
                    @include media-breakpoint-down(md){
                        font-size: 28px;
                    }
                    @include media-breakpoint-down(sm){
                        font-size: 40px;
                    }
                }
                a{
                    color: $full-gray;
                    font-size: 27px;
                    font-style: italic;
                    font-weight: 200;
                    display: block;
                    text-decoration: underline !important;
                    transition: all 0.3s ease-in-out;
                    @include media-breakpoint-down(lg){
                        font-size: 22px;
                    }
                    @include media-breakpoint-down(md){
                        font-size: 20px;
                    }
                    @include media-breakpoint-down(sm){
                        font-size: 18px;
                    }
                    &:hover{
                        opacity: 0.6;
                    }
                }
            }
        }
    }
    .dg-disclosures-modal{
        #disclosuresModalCenter{
            .modal-title{
                font-size: 18px;
                color: $full-gray;
                font-weight: 600;
            }
            .modal-body{
                p{
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 27px;
                    padding: 10px 0;
                    color: $light-gray;
                }
            }
        }
    }
